@font-face {
  font-family: "Oswald";
  src: url(./fonts/Oswald-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
  font-style: normal;
}

a {
  outline: none;
  text-decoration: none;

  .btn:hover {
    transition: 1s;
    color: orange;
  }
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .wrapper__header {
      display: flex;
      align-items: center;
      column-gap: 60px;

      .img-logo {
        background-image: url(./assets/img-logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 93px;
        height: 32px;
      }

      nav {
        display: flex;
        gap: 40px;

        p {
          font: 400 14px "Oswald";
          color: #000000;
          text-transform: uppercase;
        }
      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font: 400 14px "Oswald";
      color: #ffffff;
      text-transform: uppercase;
      background-color: #0057ff;
      border-radius: 30px;
      width: 193px;
      height: 52px;
    }
  }

  main {
    section {
      display: flex;

      .main-img {
        background-image: url(./assets/main-img.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 540px;
        height: 589px;
        margin-top: 169px;
        margin-bottom: 236px;
      }

      .wrapper1 {
        padding: 134px 0 0 120px;

        .main-description {
          h1 {
            font: 400 40px "Oswald";
            line-height: 50px;
            color: #000000;
            text-transform: uppercase;
            width: 450px;
          }

          p {
            font: 400 15px "Roboto";
            color: #000000;
            padding: 48px 0 58px 0;
            width: 488px;
            line-height: 26px;
          }
        }

        .wrapper2 {
          border: 1px solid #e7e7e7;
          border-radius: 20px;
          width: 500px;
          margin-left: 20px;

          .dropdown-list {
            .dropdown-list-el {
              width: 498px;
              height: 88px;
              padding: 0 35px 0 40px;
              background: #ffffff;
              border-radius: 0px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                font: 400 16px "Oswald";
                color: #000000;
                text-transform: uppercase;
              }

              .dropdown-list-img {
                background-image: url(./assets/plus.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
    }
  }
}
